<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.semantonic.ch/wok/dsl/WokDsl" 
       class = "ch.semantonic.wok.dsl.wokDsl.WokDslPackage"
       genModel = "model/generated/WokDsl.genmodel" /> 
	
  </extension>



</plugin>
